ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: black;
}

.nav li{
    float: left;
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover{
    background-color: white;
    color:black

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none; /* dropdown and droptn คืออันด้านบน*/
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover{
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    background-color: white;
    cursor: pointer;
}

.dropdown-content{
    display : none;
    min-width: 160px; /*อันด้านล่างหลังลากเมาส์*/
    z-index: 1;
    position:absolute; /*absolute ใส่ไว้ให้bgตอนfropfownไม่กินด้านล่าง*/
    background-color: black;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("47-fractal-phantom-gradient-stripes.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.welcome{
    color:white;
    text-align: center;
    font-size: xx-large;
    margin-top: 10rem;
    text-shadow: 2px 2px 8px gray;
}

hr{
    width: 30%;
    border: 2px solid white;
    border-radius: 50%;
}

#home{
    background-color: white;
    color:black;
}
